
.upload-container {
  max-width: 800px;
  margin: 0 auto; 
  display: flex;
  justify-content: flex-end; 
}

.upload-btn {
  width: 20%;
  margin: 10px 0;
  font-size: 16px;
  // background-color: #gr;
}


