
.upload-container {
  max-width: 1000px;
  margin:  auto; 
  // margin-top:10px;
  display: flex;
  justify-content: flex-end; 
}

.upload-btn {
  width: 20%;
  margin: 20px 0;
  font-size: 16px;
  // background-color: #gr;
}


