.goal-card {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.goal-card-img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    aspect-ratio: 1 / 1;
}

.goal-card-body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.goal-card-title {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    flex-shrink: 1;
    /* ✅ 제목이 길 경우 자동 축소됨 */
}

.goal-card-title:hover {
    text-decoration: underline;
}

.goal-card-category {
    margin-left: 0.5rem;
    color: gray;
    white-space: normal;
    /* ✅ 줄 바꿈 가능하도록 변경 */
    flex-shrink: 0;
    /* ✅ 카테고리는 크기 고정 */
}

.goal-card-text {
    margin: 0.25rem 0;
}

.goal-card-hr {
    margin: 1rem 0;
}