h5 {
    display: flex;
    align-items: center;
    font-weight: 600;
}

h3,
h4 {
    font-weight: 600;
}

.rank {
    margin-right: 13px;
}

.image-container {
    aspect-ratio: 4 / 3; // 4:3 비율 
    margin-bottom: 30px;
}

.image-container img {
    object-fit: cover; // 이미지가 container를 채우고 나머지는 잘리도록 처리
    width: 100%;
    height: 100%;
}

.gray-text {
    color: gray;
}

.selected-member {
    background-color: #d3d3d3;
}

.member-item {
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}

.goal-thumbnail {
    height: 75px;
    object-fit: cover; // 이미지 비율 유지하며 잘리지 않게 설정
    margin-right: 10px;
}

.arrow-container {
    position: relative;
}

.arrow-container svg {
    cursor: pointer;
}

.member-list-modal {
    position: absolute;
    top: 0;
    left: 100%;
    /* RiArrowDownSLine 오른쪽에 위치 */
    margin-left: 10px;
    border: #d3d3d3 1px solid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1050;
    max-height: 300px;
    overflow-y: auto;
    /* 스크롤 가능 */
    border-radius: 8px;
    width: auto;
    min-width: 100px;
}

.member-list-modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.member-list-modal li {
    padding: 5px 5px;
    font-size: 15px;
    white-space: nowrap;
}