.messages-container {
    position: relative;
    overflow-y: scroll;
}


.message {
    padding: 10px;
    // border-bottom: 1px solid #ccc;
}

.message.mine {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
}

.timestamp {
    font-size: 0.7em;
    color: #888;
}

.chat-room {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    h3 {
        padding: 10px;
        margin: 0;
    }

    .messages-container {
        flex: 1;
        overflow: hidden;
        position: relative;
        height: 100%;
    }
}

.message-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

.send-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}

.new-message-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0078d4;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
}

.message-text {
    display: inline-block;
    /* inline-block으로 설정하여 width 적용 */
    max-width: 50ch;
    /* 최대 가로 폭을 20ch로 제한 */
    white-space: normal;
    /* 기본 줄바꿈 허용 */
    word-break: break-word;
    /* 단어 단위로 줄바꿈 */
    overflow-wrap: break-word;
    /* 긴 단어가 있을 경우 줄바꿈 처리 */
}

/* 내 메시지에 추가할 스타일 */
.message-text-mine {
    background-color: #ffe0a7; // 연한 초록색
    border-radius: 10px;
    padding: 8px 12px;
}

/* (선택 사항) 다른 사람 메시지에 추가할 스타일 */
.message-text-other {
    background-color: #aaffb1; // 연한 회색
    border-radius: 10px;
    padding: 8px 12px;
}