.chat-page {
    display: flex;
    height: 79vh;
    justify-content: center;

}


.chat-list-container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-right: 3px solid #c4c4c4;
    display: flex;
    flex-direction: column;
}

.chat-list-scroll {
    flex: 1; // 남은 공간을 채움
    overflow-y: auto;
    text-align: center;
}

.chat-list-scroll::-webkit-scrollbar {
    display: none;
}

.chat-room-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    height: 100%;
    overflow-y: hidden;
    background-color: #ffffff;
}